<div class="body">
  <div class="text-category">
    <p class="text n-text" translate="Machine Learning Blog Post"></p>
  </div>
  <div class="card-blog">
    <div class="div-a">
      <div class="card" (click)="showPrdictCaliHousing()">
        <div class="header">
          <img src="https://cdn.pixabay.com/photo/2014/11/21/17/17/house-540796__340.jpg" alt="Prdict House Price">
        </div>
        <div class="text">
          <p class="food">Prdict Price of Cali Housing</p>
          <p class="address">Python, sklearn, joblib, numpy, pandas</p>
        </div>
        <div class="add-information">
          <p><i class="fa-regular fa-calendar-check"></i> Date Post: 11/12/2022</p>
        </div>
      </div>
    </div>

    <div class="div-a">
      <div class="card">
        <div class="header">
          <img
            src="https://thumbs.dreamstime.com/b/future-human-technology-human-body-wireframe-graphics-network-data-artificial-intelligence-data-transmission-storage-line-180231721.jpg"
            alt="Face Recognition">
        </div>
        <div class="text">
          <p class="food">Face Recognition</p>
          <p class="address">Python, OpenCV, matplotlib, numpy, PIL, Onnx model</p>
        </div>
        <div class="add-information">
          <p><i class="fa-regular fa-calendar-check"></i> Date Post: 11/12/2022</p>
        </div>
      </div>
    </div>

    <div class="div-a">
      <div class="card">
        <div class="header">
          <img src="https://cdn.pixabay.com/photo/2020/06/30/14/06/blossom-5356482__340.jpg" alt="Iris Data">
        </div>
        <div class="text">
          <p class="food">k-Nearest-Neighbor Classifier</p>
          <p class="address">Python, sklearn, Iris data</p>
        </div>
        <div class="add-information">
            <p><i class="fa-regular fa-calendar-check"></i> Date Post: 11/12/2022</p>
        </div>
      </div>
    </div>
    <div class="div-a">
        <div class="card">
          <div class="header">
            <img src="https://cdn.pixabay.com/photo/2019/06/19/07/13/email-4284157__340.png" alt="Iris Data">
          </div>
          <div class="text">
            <p class="food">Spam Email Classifier</p>
            <p class="address">Python, Naive Bayes model</p>
          </div>
          <div class="add-information">
              <p><i class="fa-regular fa-calendar-check"></i> Date Post: 11/12/2022</p>
          </div>
        </div>
      </div>
  </div>

</div>
